body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:99px;
  width:375px;
  height:667px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:180px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u2048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:99px;
  width:375px;
  height:667px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:51px;
  width:180px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u2052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:101px;
  width:375px;
  height:667px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:50px;
  width:180px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u2056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:1296px;
  top:99px;
  width:375px;
  height:667px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:50px;
  width:180px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u2060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:66px;
  height:19px;
}
#u2060p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:62px;
  height:4px;
}
#u2060p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:6px;
}
#u2060p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u2060p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2060p002 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2060p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2060.compound {
  width:0px;
  height:0px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:140px;
  width:57px;
  height:1px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:67px;
  height:19px;
}
#u2062p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:62px;
  height:4px;
}
#u2062p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:6px;
}
#u2062p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u2062p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2062p002 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2062p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:22px;
}
#u2062.compound {
  width:0px;
  height:0px;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:140px;
  width:58px;
  height:1px;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:66px;
  height:19px;
}
#u2064p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:62px;
  height:4px;
}
#u2064p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:6px;
}
#u2064p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:3px;
  height:2px;
}
#u2064p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u2064p002 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2064p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2064.compound {
  width:0px;
  height:0px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:140px;
  width:57px;
  height:1px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
