body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u24436 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:50px;
  width:321px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u24437 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:301px;
  word-wrap:break-word;
}
#u24438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:439px;
}
#u24439 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:103px;
  width:477px;
  height:438px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u24440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:211px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u24441 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:113px;
  width:33px;
  height:33px;
}
#u24442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u24443 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:121px;
  width:131px;
  height:37px;
  font-size:24px;
}
#u24444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u24445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:217px;
}
#u24445 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:177px;
  width:399px;
  height:217px;
}
#u24446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:28px;
}
#u24447 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:404px;
  width:363px;
  height:27px;
}
#u24448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:363px;
  word-wrap:break-word;
}
#u24449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u24449 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:448px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u24451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u24451 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:504px;
  width:69px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00A8FF;
}
#u24452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u24453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:439px;
}
#u24454 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:614px;
  width:477px;
  height:438px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u24455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:211px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u24456 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:624px;
  width:33px;
  height:33px;
}
#u24457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u24458 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:632px;
  width:131px;
  height:37px;
  font-size:24px;
}
#u24459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u24460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:28px;
}
#u24460 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:915px;
  width:363px;
  height:27px;
}
#u24461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:363px;
  word-wrap:break-word;
}
#u24462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u24462 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:959px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u24464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u24464 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:1015px;
  width:69px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00A8FF;
}
#u24465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u24466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:219px;
}
#u24466 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:685px;
  width:390px;
  height:219px;
}
#u24467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u24468 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:564px;
  width:321px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u24469 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:301px;
  word-wrap:break-word;
}
#u24470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:695px;
  height:489px;
}
#u24470 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1213px;
  width:695px;
  height:489px;
}
#u24471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:236px;
  width:691px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24472_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:358px;
}
#u24472p000 {
  border-width:0px;
  position:absolute;
  left:-177px;
  top:173px;
  width:354px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24472p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:356px;
  height:6px;
}
#u24472p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:3px;
}
#u24472p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:6px;
}
#u24472p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:337px;
  width:20px;
  height:20px;
}
#u24472p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:22px;
}
#u24472.compound {
  width:0px;
  height:0px;
}
#u24472 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:870px;
  width:1px;
  height:349px;
}
#u24473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:166px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u24474 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:564px;
  width:321px;
  height:40px;
  color:#FFFFFF;
  text-align:left;
}
#u24475 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:301px;
  word-wrap:break-word;
}
#u24476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:39px;
}
#u24476 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1229px;
  width:165px;
  height:38px;
  font-size:18px;
}
#u24477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:165px;
  word-wrap:break-word;
}
#u24478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:301px;
}
#u24478 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:614px;
  width:684px;
  height:301px;
}
#u24479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24480_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:132px;
}
#u24480p000 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:61px;
  width:128px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24480p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:130px;
  height:4px;
}
#u24480p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:3px;
}
#u24480p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:6px;
}
#u24480p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:111px;
  width:20px;
  height:20px;
}
#u24480p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:22px;
}
#u24480.compound {
  width:0px;
  height:0px;
}
#u24480 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:838px;
  width:1px;
  height:123px;
}
#u24481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u24482 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:803px;
  width:189px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u24484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:43px;
}
#u24484 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:625px;
  width:118px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u24486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u24486 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:749px;
  width:89px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u24487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  word-wrap:break-word;
}
#u24488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u24488 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:750px;
  width:201px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u24489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:197px;
  word-wrap:break-word;
}
#u24490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:433px;
}
#u24490 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:970px;
  width:687px;
  height:433px;
}
#u24491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:208px;
  width:683px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u24492 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:1375px;
  width:103px;
  height:28px;
  color:#00A8FF;
}
#u24493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:103px;
  word-wrap:break-word;
}
#u24494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:45px;
}
#u24494 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:1329px;
  width:189px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u24496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u24496 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:990px;
  width:126px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:122px;
  word-wrap:break-word;
}
#u24498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:439px;
}
#u24499 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1569px;
  width:477px;
  height:438px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u24500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:211px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u24501 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:1579px;
  width:33px;
  height:33px;
}
#u24502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u24503 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:1587px;
  width:131px;
  height:37px;
  font-size:24px;
}
#u24504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u24505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:217px;
}
#u24505 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:1643px;
  width:399px;
  height:217px;
}
#u24506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:28px;
}
#u24507 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1870px;
  width:363px;
  height:27px;
}
#u24508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:363px;
  word-wrap:break-word;
}
#u24509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u24509 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1914px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u24511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u24511 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:1970px;
  width:69px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00A8FF;
}
#u24512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u24513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:157px;
}
#u24513 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:1695px;
  width:157px;
  height:157px;
}
#u24514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24515_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:219px;
}
#u24515p000 {
  border-width:0px;
  position:absolute;
  left:-107px;
  top:104px;
  width:214px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24515p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:216px;
  height:6px;
}
#u24515p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:3px;
}
#u24515p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u24515p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:198px;
  width:20px;
  height:20px;
}
#u24515p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:22px;
}
#u24515.compound {
  width:0px;
  height:0px;
}
#u24515 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:1351px;
  width:1px;
  height:210px;
}
#u24516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:97px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:439px;
}
#u24518 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:2157px;
  width:477px;
  height:438px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u24519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:211px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u24520 {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:2167px;
  width:33px;
  height:33px;
}
#u24521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:38px;
}
#u24522 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:2175px;
  width:131px;
  height:37px;
  font-size:24px;
}
#u24523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u24524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:217px;
}
#u24524 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:2231px;
  width:399px;
  height:217px;
}
#u24525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:28px;
}
#u24526 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:2458px;
  width:363px;
  height:27px;
}
#u24527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:363px;
  word-wrap:break-word;
}
#u24528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u24528 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:2502px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u24530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
}
#u24530 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:2558px;
  width:69px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00A8FF;
}
#u24531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u24532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:157px;
}
#u24532 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:2283px;
  width:157px;
  height:157px;
}
#u24533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u24534 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:2286px;
  width:152px;
  height:152px;
}
#u24535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:23px;
}
#u24536 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:2128px;
  width:257px;
  height:22px;
}
#u24537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u24538_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:346px;
}
#u24538p000 {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:167px;
  width:342px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24538p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:344px;
  height:6px;
}
#u24538p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:2px;
  height:3px;
}
#u24538p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:6px;
}
#u24538p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:325px;
  width:20px;
  height:20px;
}
#u24538p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:22px;
}
#u24538.compound {
  width:0px;
  height:0px;
}
#u24538 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:1820px;
  width:1px;
  height:337px;
}
#u24539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:2px;
}
#u24540 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:2362px;
  width:166px;
  height:1px;
}
#u24541 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24542_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:19px;
  height:970px;
}
#u24542p000 {
  border-width:0px;
  position:absolute;
  left:-481px;
  top:478px;
  width:964px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u24542p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:966px;
  height:6px;
}
#u24542p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u24542p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u24542p002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:960px;
  width:2px;
  height:3px;
}
#u24542p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:4px;
  height:6px;
}
#u24542.compound {
  width:0px;
  height:0px;
}
#u24542 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:1403px;
  width:1px;
  height:960px;
}
#u24543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:472px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24544 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:1251px;
  width:0px;
  height:0px;
}
#u24544_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u24544_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-44px;
  width:8px;
  height:48px;
}
#u24544_seg2 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-44px;
  width:8px;
  height:8px;
}
#u24544_seg3 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-243px;
  width:8px;
  height:207px;
}
#u24544_seg4 {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-243px;
  width:251px;
  height:8px;
}
#u24544_seg5 {
  border-width:0px;
  position:absolute;
  left:-195px;
  top:-248px;
  width:18px;
  height:18px;
}
#u24545 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-222px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24546 {
  border-width:0px;
  position:absolute;
  left:1484px;
  top:1006px;
  width:0px;
  height:0px;
}
#u24546_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:122px;
  height:8px;
}
#u24546_seg1 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-142px;
  width:8px;
  height:146px;
}
#u24546_seg2 {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:-142px;
  width:318px;
  height:8px;
}
#u24546_seg3 {
  border-width:0px;
  position:absolute;
  left:-202px;
  top:-147px;
  width:18px;
  height:18px;
}
#u24547 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
